*
{
	padding: 0;
	margin: 0;
}

body
{
	background-color: #303030;
	color: #ffffff;
	font-family: 'Lato', sans-serif;
}

h1
{
	color: #66a3ff;
	font-size: 40px;
	font-weight: bold;
	text-align: center;
	margin-top: 10px;
}

h2
{
	font-weight: bolder;
	margin-top: 10px;
	margin-bottom: 20px;
	padding: 2px;
	text-align: center;
}

h3
{
	color: black;
	font-size: 40px;
	font-weight: bolder;
	margin-top: 10px;
	margin-bottom: 20px;
	padding: 2px;
	text-align: center;
}

#container
{
	width: 1000px;
	margin-left:auto;
	margin-right:auto;
	text-align: center;
	margin-top:30px;
}

#container-register
{
	width: 100%;
	margin-left:auto;
	margin-right:auto;
	margin-top:20px;
}

#rightsquare
{
	width: 48%;
	float: left;
	height: 300px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 8px;
	border: 1px dashed #ddd;
	border-left: none;
	border-top-right-radius: 3px;
	border-bottom-right-radius: 3px;
}

#leftsquare
{
	width: 48%;
	float: left;
	height: 300px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 8px;
	border-radius: 3px;
	border: 1px dashed #ddd;
	border-top-right-radius: 3px;
	border-bottom-right-radius: 3px;
}

#clear
{
	clear: both;
}

#about-project
{	
	padding: 10px;
	padding-top: 0;
}

input
{
	width: 300px;
	background-color: #efefef;
	color: #666;
	border: 2px solid #ddd;
	font-size: 20px;
	padding: 5px;
	box-sizing: border-box;
	border-radius: 3px;
	margin-bottom: 30px;
}

input#right
{
	margin-top: 15px;
}

input[type=submit]
{
	letter-spacing: 2px;
	cursor: pointer;
}

input[type=submit]:hover
{
	background-color: #66a3ff;
}

input#registered
{
	width: 400px;
}

footer
{	
	position: absolute;
	width: 100%;
	text-align: center;
	bottom:0;	
	color: #696969;
	margin-top:9px;
	margin-bottom: 5px;
}

article#registered
{
	text-align: center;
}

.register-field
{	
	margin-bottom: 1px;
	margin-top: 1px;
	margin-left:40%;
	margin-right:40%;
}

.menu
{
	text-align: center;
	margin: 15px 0;
	width: 100%;
	background-color: #92836d;
	height: 60px;	
	-webkit-box-shadow: 0 0 8px 2px #000;
	box-shadow: 0 0 8px 2px #000;
}

.menu .menu-list
{
	padding: 0;
	margin: 0 auto;
	display: table;
	list-style: none;
	height: inherit;
}

.menu-list-item 
{
	margin: 10px 5px;
	display: block;
	float: left;
	padding: 5px;
	color: black;
	width: 160px;
	height: 30px;
	border-radius: 2px;
	text-transform: uppercase;
	font-weight: bolder;
	letter-spacing: 1px;
	background-color: #f4f3f0;
	opacity: 0.5;
	-webkit-transition: .3s;
	transition: .3s;
}

.menu-list-item:hover
{
	cursor: pointer;
	background-color: #494236;
	color: white;
}

.menu .menu__link
{
	color: inherit;
	text-decoration: none;	
	width: 100%;
	height: 100%;
	display: block;
}

.menu .menu__link_log
{
	color: inherit;
	text-decoration: none;	
	width: 100%;
	height: 100%;
	display: block;
}

.menu__link--active 
{
	background-color: #494236;
}

p.section_name
{
	padding: 5px;
}

.content 
{
  font-size: 2.4rem;
  padding: 0;
  opacity: 0;
  height: 0;
  overflow: hidden;
  -webkit-transition: opacity .5s ease-out;
  transition: opacity .5s ease-out;
}

.content--active 
{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: .5rem 0;
  opacity: 1;
  height: auto;
}

details
{
	font-size: 15px;
	margin: 10px;
}

.details-header
{
	font-size: 25px;
	width: fit-content;
}

.details-header:hover
{
	cursor: pointer;
}

.details-content
{
	font-size: 25px;
	width: fit-content;
	padding: 5px;
	margin-left: 10px;
	margin-top: 5px;
}